# ==========================================================
# KITCHERRY - IA LOCAL
# ==========================================================

# Entornos virtuales
venv/
.venv/
*/venv/
**/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Modelos y salidas de entrenamiento
outputs/
*/outputs/
**/outputs/

# Cachés de modelos
.cache/
.hf-cache/
*/.cache/
*/.hf-cache/
Proyectos/007-KitcherryDocs/020-Modulamos-version-final/documentos-alergenos.mp4
/Proyectos/008-Kitcherry-Kitchen-Assistant/019-eficacia-con-flask/modelo-kitcherry-cocina-fusionado
/Proyectos/008-Kitcherry-Kitchen-Assistant/019-eficacia-con-flask/lora-gpu
/Proyectos/008-Kitcherry-Kitchen-Assistant/entrenamiento-simple-inicial/lora-gpu
/Proyectos/008-Kitcherry-Kitchen-Assistant/lora-gpu
Proyectos/008-Kitcherry-Kitchen-Assistant/asitennte-IA.mp4
Proyectos/008-Kitcherry-Kitchen-Assistant/019-eficacia-con-flask/img/avatar_completo.glb
Proyectos/008-Kitcherry-Kitchen-Assistant/avatar_busto.glb
*.glb
/Proyectos/008-Kitcherry-Kitchen-Assistant/entrenamiento-simple-inicial/modelo-kitcherry-cocina-fusionado
